footer {
  width: 650px;
  position: fixed;
  bottom: 100px;
  align-self: center;
  display: flex;
  justify-content: flex-end;
}

button.add {
  background-color: transparent;
  border: transparent;
}

.icon-add {
  margin: 0;
  width: 80px;
  height: 80px;
}