header {
  width: 650px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;

}

h2 {
  font-family: Abril Fatface;
  color: #4E5754;
  font-size: 50px;
}

button.logout {
  background-color: transparent;
  border: transparent;

}

.signOut {
  width: 40px;
  height: 40px;
}