section.notes {
  width: 700px;
  height: 300px;
  margin: auto;

}

.note-title {
  width: 97%;
  height: 10%;
  border: transparent;
  font-family: 'Arial Narrow';
  font-size: 20px;
  padding: 10px;
}

.note_description {
  width: 97%;
  height: 75%;
  border: transparent;
  font-family: 'Arial Narrow';
  font-size: 20px;
  padding: 10px;
}